<!doctype html>
<html>

<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <title>Diablo 2 Upscaled - The Rogue Encampment</title>
</head>
<style type="text/css">
  body {
    background: black;
    cursor: url("../assets/gauntlet.png"), auto;
  }

  progress {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
</style>

<body>
  <progress id="progress"></progress>
  <canvas id="gameCanvas"></canvas>
  <script src="../src/encampment.ts"></script>
</body>

</html>